{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "plugins": [
      "flowtype",
      "flow-vars",
      "import"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "Action"       : false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "semi" : [2, "never"],
    "max-len": [2, 150, 2],
    "quotes": [2, "single", { "allowTemplateLiterals": true }],
    "react/react-in-jsx-scope": [0],
    "no-duplicate-imports" : [0],
    "import/no-duplicates" : [2],
    "flowtype/define-flow-type": 1
  },
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "experimentalObjectRestSpread": true,
          "generator-star-spacing": ["error", "after"]
      }
  }
}
